@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,200;0,400;0,900;1,500&display=swap');

body {
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding: 4rem;
    background-color: white;
    color: black;
    line-height: 1.4;
}

@media screen and (max-width: 600px) {
    body {
        padding: 1rem;
    }
}

h1,h2,h3,h4,h5,h6,p,ul,ol,li,dl,dt,dd,blockquote,pre,form,fieldset,legend,input,textarea,th,td,header,footer,address {
    max-width: 30rem;
    margin: 1em auto;
}
h1,h2,h3,h4 {
    font-weight: 200;
}

header > a#site-logo img {
    width: 5rem;
    margin-bottom: 0;
}
h1#public--open-foundation {
    font-weight: 900;
}

nav>ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: left;
    list-style: none;
    margin: auto;
    padding: 0;
}
nav>ul>li {
    padding: 0 0.2rem;
}

a:link, a:visited {
    text-decoration: underline;
    color: inherit;
}
a:link {
    text-decoration-color: blue;
}
a:visited {
    text-decoration-color: purple;
}
a:link[href^='#'], a:visited[href^='#'] {
    text-decoration-color: darkgrey;
}
a:hover {
    background: whitesmoke;
}