<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{ page.title }} | {{ site.title }}</title>
		<link rel="stylesheet" href="/assets/style.css">
		<link rel="icon" href="/assets/logo.svg" type="image/svg+xml">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<header>
			<a href="/" id="site-logo"><img src="/assets/logo.svg" alt="Foundation Public & Open Logo"></a>
			<h1>Public & Open Foundation<h1>
			<h2>We help people collaborate on open source for public administrations.<h2>
		</header>
        <nav>
            <ul>
                <li><a href="/mission">Mission</a></li>
                <li><a href="/people">People</a></li>
                <li><a href="/organization">Organization</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
		{{ content }}
	</body>
</html>
